body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-container {
  width: 800px;
  overflow: hidden;
}

.carousel-wrap {
  overflow: auto;
  width: 2860px;
  position: relative;
}

.carousel-item {
  width: 300px;
  line-height: 200px;
  background-color: #999;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  float: left;
}

.carousel-item + .carousel-item {
  margin-left: 20px;
}